.org_donate-column, .org_donate-column_heading {
  display: none;
}

.hla_factor-column, .hla_factor-column_heading {
  display: none;
}

.country-column, .country-column_heading {
  display: none;
}

.region-column, .region-column_heading {
  display: none;
}

.district-column, .district-column_heading {
  display: none;
}

.village-column, .village-column_heading {
  display: none;
}

.reg_name-column, .reg_name-column_heading {
  display: none;
}

.villages_send-column, .villages_send-column_heading {
  display: none;
}

.deps_send-column, .deps_send-column_heading {
  display: none;
}

.orgs_send-column, .orgs_send-column_heading {
  display: none;
}

.someones_target-column, .someones_target-column_heading {
  display: none;
}

.ones_target-column, .ones_target-column_heading {
  display: none;
}

.causes_defect-column, .causes_defect-column_heading {
  display: none;
}
